<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="~{fragments/headerfiles :: header}"></div>
<title>ThetaBot - Edit Configuration</title>
<script type="text/javascript" th:src="@{/js/togglepw.js}"></script>
</head>
<body>
  <div th:replace="~{fragments/header :: header}"></div>
  <main role="main" class="container">
    <h1>Edit Settings</h1>
    <div class="row">
      <div class="col-lg-6">
        <form action="#" class="form-horizontal" th:action="@{/broker/save}" th:object="${settings}" method="post">
          <input hidden th:field="${settings.id}" />
          <fieldset>
            <legend class="float-none w-auto p-2">Settings</legend>
            <table class="table table-sm table-borderless align-middle">
              <tr>
                <td>apiLogin</td>
                <td><input type="text" id="apiLogin" class="form-control" th:field="${settings.apiLogin}" required /></td>
              </tr>
              <tr>
                <td>apiPassword</td>
                <td>
                  <div class="input-group mb-3">
                    <input class="form-control" type="password" name="apiPassword" id="apiPassword"
                      autocomplete="off" th:value="${settings.apiPassword}" /> <span class="input-group-text"> <i
                      class="bi bi-eye-slash" id="apiPasswordEye" style="cursor: pointer"
                      onclick="showPasswordEye('apiPassword', 'apiPasswordEye')"></i>
                    </span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>certApiLogin</td>
                <td><input type="text" id="certApiLogin" class="form-control" th:field="${settings.certApiLogin}" /></td>
              </tr>
              <tr>
                <td>certApiPassword</td>
                <td>
                  <div class="input-group mb-3">
                    <input class="form-control" type="password" name="certApiPassword" id="certApiPassword"
                      autocomplete="off" th:value="${settings.certApiPassword}" /> <span class="input-group-text">
                      <i class="bi bi-eye-slash" id="certApiPasswordEye" style="cursor: pointer"
                      onclick="showPasswordEye('certApiPassword', 'certApiPasswordEye')"></i>
                    </span>
                  </div>
                </td>
              </tr>
            </table>
            <a class="btn btn-info" href="#" th:href="@{/broker}">Cancel</a> <input type="submit" id="submitButton"
              class="btn btn-success" th:value="Save">
          </fieldset>
        </form>
      </div>
    </div>
  </main>
  <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>