html {
  font-size: 14px;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

#footer {
	position: sticky;
	background-color: #333;
	color: white;
	text-align: center;
	padding: 1em;
	bottom: 0;
}

.navbar {
	padding: 0 10px;
}

*.icon-dark {
	color: grey;
}

.message {
	position: absolute;
	top: 40px;
	right: 5px;
}

.login {
	position: relative;
}

.login button {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 80px;
	background: grey;
}

.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
}

/*h1{*/
/*	color:#0000FF;*/
/*}*/

/*h2{*/
/*	color:#FF0000;*/
/*}*/
th, td {
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 40px;
}